@tailwind base;
@tailwind components;
@tailwind utilities;

nav ul li:hover a {
    background-color: #E54949;
    padding: 4px;
    border-radius: 5px;
    color: #f9fafb; 
}

nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    height: 2rem;
    width: 2rem; 
}

.order li{
    background-color: #EE4E4E;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    color: white;
    gap: 10px;
    font-weight:bolder;
}

.floor h1{
    background-color: #EE4E4E;
}

@media (min-width: 1440px)  {
    .menu li:hover{
        color:rgb(212, 0, 255);
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 15px;
        text-decoration-thickness: 3px;
    }
}

.menu li:hover{
    color:rgb(212, 0, 255);
    cursor: pointer;
}


